.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    font-size: 12px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #394453 79%, transparent 80% 100%), conic-gradient(var(--c-primaryColor) 85%, #475467 0);   
  }
  
  .progress-bar::before {
    content: "85%";
  }

  