:root{
    --leftSideMenuLayout: 260px;
    --c-textColor: #000;
    --c-sideNavBg: #101727;
    --c-border-light: #e9e9e9;
    --c-defaultSvgColor: #535158;
    --c-white:#fff;
    --c-black:#000;
    --c-primaryColor:#5cf9a4;
}