@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --leftSideMenuLayout: 260px;
  --c-textColor: #000;
  --c-sideNavBg: #101727;
  --c-border-light: #e9e9e9;
  --c-defaultSvgColor: #535158;
  --c-white:#fff;
  --c-black:#000;
  --c-primaryColor:#5cf9a4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  line-height: 1.4;
  color: var(--c-textColor);
  font-size: 16px;
}

a {
  text-decoration: none !important;
  color: var(--c-white) !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #acaab1 !important;
}

/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJPax9k0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJLax9k0.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJzaxw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJPax9k0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJLax9k0.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJzaxw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJPax9k0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJLax9k0.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJzaxw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJPax9k0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJLax9k0.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJzaxw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJPax9k0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJLax9k0.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJzaxw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNIfJ7Cww.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNGfJ4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNIfJ7Cww.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNGfJ4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNIfJ7Cww.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNGfJ4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNIfJ7Cww.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNGfJ4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNIfJ7Cww.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNGfJ4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.btn {
  display: flex !important;
  align-items: center !important;
  height: 40px !important;
  gap: 8px;
}
.btn .iconBlock {
  margin: 0 !important;
  display: flex;
}
.btn .iconBlock svg {
  width: 20px;
  height: 20px;
}
.btn .iconContent {
  white-space: nowrap;
}
.btn.btnPrimary {
  background: var(--c-black);
  color: var(--c-white);
  border: 1px solid var(--c-black);
}
.btn.btnPrimary svg {
  fill: var(--c-white);
}
.btn.btnPrimary:hover {
  opacity: 0.7;
  background: var(--c-black);
  color: var(--c-white);
}
.btn.btnOutline {
  background-color: var(--c-white);
  border: 1px solid var(--c-black);
}
.btn.btnOutline:hover {
  color: var(--c-white);
  background: var(--c-black);
}
.btn.btnOutline:hover svg {
  fill: var(--c-white);
}

.customScrollBar {
  scrollbar-width: thin;
  /* Track */
  /* Handle */
}
.customScrollBar ::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  display: none;
}
.customScrollBar ::-webkit-scrollbar-track {
  background: rgba(158, 158, 158, 0.2392156863);
}
.customScrollBar ::-webkit-scrollbar-thumb {
  background: #ccc;
}

[data-themetype=dark] ::-webkit-scrollbar-thumb {
  background: #7d7d7d;
}

.customScrollBar::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

/* Track */
.customScrollBar::-webkit-scrollbar-track {
  background: rgba(158, 158, 158, 0.2392156863);
}

/* Handle */
.customScrollBar::-webkit-scrollbar-thumb {
  background: #ccc;
}

.customScrollBarX::-webkit-scrollbar {
  height: 2px !important;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  font-size: 12px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #394453 79%, transparent 80% 100%), conic-gradient(var(--c-primaryColor) 85%, #475467 0);
}

.progress-bar::before {
  content: "85%";
}

.badge-dot {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: var(--c-black);
}

.badge .rounded-circle {
  width: 8px;
  height: 8px;
}

.bg-label-danger {
  background-color: #ffe2e3 !important;
  color: #ff4c51 !important;
}

.bg-label-warning {
  background-color: #fff0e1 !important;
  color: #ff9f43 !important;
}

.bg-label-success {
  background-color: #ddf6e8 !important;
  color: #28c76f !important;
}

.mainSideBar {
  height: 100%;
  left: -260px;
  position: fixed;
  top: 0;
  transform: unset;
  z-index: 999;
}
.mainSideBar.active {
  left: 0 !important;
}
.mainSideBar .mainSideBarPanel {
  background-color: var(--c-sideNavBg);
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  border-right: 1px solid var(--c-border-light);
  display: flex;
  position: unset;
  flex-direction: column;
  height: 100%;
  width: var(--leftSideMenuLayout);
}
.mainSideBar .mainSideBarPanel .sideBarTopBlock .sideBardLogoPanel {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 26px 0px 6px;
}
.mainSideBar .mainSideBarPanel .sideBarTopBlock .sideBardLogoPanel .logoMain {
  height: 80px;
  width: 100%;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  line-height: 1;
  min-height: 1px;
  align-items: center;
}
.mainSideBar .mainSideBarPanel .sideBarTopBlock .sideBardLogoPanel .logoMain .logoLink {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.mainSideBar .mainSideBarPanel .sideBarTopBlock .sideBardLogoPanel .logoMain .logoLink .logoText {
  max-width: 160px;
}
.mainSideBar .mainSideBarPanel .sideBarTopBlock .sideBardLogoPanel .layout-menu-toggle {
  cursor: pointer;
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock {
  height: 100%;
  overflow-y: auto;
  padding: 5px 12px;
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header {
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 5px;
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header.active, .mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header:hover {
  background-color: var(--c-primaryColor);
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header.active a, .mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header:hover a {
  color: var(--c-black) !important;
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header.active svg, .mainSideBar .mainSideBarPanel .sideBarMenuBlock .menuList-header:hover svg {
  fill: var(--c-black);
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock .sideMenuSubheading {
  padding: 15px 0px 15px;
  font-size: 13px;
}
.mainSideBar .mainSideBarPanel .sideBarMenuBlock .sideMenuSubheading .menuHeaderText {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  white-space: nowrap;
  color: #acaab1;
}
.mainSideBar .mainSideBarPanel .sideBarToggleParent {
  cursor: pointer;
  border-radius: 3px;
}
.mainSideBar .mainSideBarPanel .sideBarToggleParent .menuList .menu-link .leftSideBarIcons.arrow {
  transition: all 0.5s ease;
  transform-origin: center;
}
.mainSideBar .mainSideBarPanel .sideBarToggleParent .menuList .menu-link[aria-expanded=true] .leftSideBarIcons.arrow {
  transform: rotate(0deg);
}
.mainSideBar .mainSideBarPanel .sideBarToggleParent .menuList .menu-link[aria-expanded=false] .leftSideBarIcons.arrow {
  transform: rotate(-90deg);
}
.mainSideBar .mainSideBarPanel .menuBarList {
  align-items: center;
  border-radius: 3px;
  display: flex;
  font-size: 15px;
  line-height: normal;
  margin-bottom: 4px;
  padding: 0.5rem 0.75rem;
  position: relative;
  width: 100%;
}
.mainSideBar .mainSideBarPanel .menuBarList.hoverBlock:hover {
  background-color: var(--c-primaryColor);
  color: var(--c-black) !important;
}
.mainSideBar .mainSideBarPanel .menuBarList.hoverBlock:hover svg {
  fill: var(--c-black);
}
.mainSideBar .mainSideBarPanel .menuBarList.childMenuList.active {
  background: linear-gradient(270deg, rgba(92, 249, 164, 0.68) 0%, var(--c-primaryColor) 100%);
  box-shadow: 0px 2px 6px 0px rgba(92, 249, 164, 0.31);
  color: var(--c-black) !important;
}
.mainSideBar .mainSideBarPanel .menuBarList.childMenuList.active svg {
  fill: var(--c-black);
}
.mainSideBar .mainSideBarPanel .menuBarList .menuBarListIcon {
  display: flex;
  margin: 0 8px 0 0px;
}
.mainSideBar .mainSideBarPanel .leftSideBarIcons {
  fill: var(--c-white);
  border-radius: 0 !important;
  height: 17px !important;
  padding: 0 !important;
  width: 17px !important;
  margin-left: 16px;
}
.mainSideBar .mainSideBarPanel .leftSideBarIcons.childMenuIcon {
  margin-left: 0;
}

@media (min-width: 1200px) {
  .mainSideBar {
    left: 0px;
  }
}
.usedSpace {
  background: #344154 !important;
  padding: 15px;
  border-radius: 5px;
  color: var(--c-white);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.usedSpace .buttonBlock {
  margin-top: 12px;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 14px;
}
.usedSpace .buttonBlock a {
  cursor: pointer;
}

.logoutBlock {
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid grey;
  margin-top: 20px;
  cursor: pointer;
}
.logoutBlock .profileBlock .profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logoutBlock .userDetails .nameDet {
  font-weight: 600;
}
.logoutBlock .userDetails .emailDet {
  font-size: 12px;
}
.logoutBlock .logoutIcon {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 4px;
}

.mainContentWrapper {
  position: unset;
  width: 100%;
  height: 100%;
  padding-left: 0px;
}
.mainContentWrapper.page-with-super-sidebar {
  transition: padding-left 0.2s, transform 0.2s;
}

@media (min-width: 1200px) {
  .mainContentWrapper {
    padding-left: 260px;
  }
}
.centerTopMain {
  color: #444050;
  padding: 0 15px !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
  margin: 10px !important;
  margin-bottom: 0 !important;
}
.centerTopMain .centerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1024px) {
  .centerTopMain .centerTop {
    gap: 10px;
  }
}
.centerTopMain .centerTop .contentSection {
  display: flex;
  align-items: start;
}
.centerTopMain .centerTop .contentSection .layout-menu-toggle {
  background: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.centerTopMain .centerTop .contentSection .layout-menu-toggle:hover {
  opacity: 0.8;
}
.centerTopMain .centerTop .contentSection .heading, .centerTopMain .centerTop .contentSection .subheading {
  margin: 0;
}
.centerTopMain .centerTop .contentSection .heading {
  font-size: 30px;
}
.centerTopMain .centerTop .contentSection .subheading {
  font-size: 15px;
  color: #6c6969;
  font-weight: 400;
}
.centerTopMain .centerTop .buttonSection {
  margin-left: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .centerTopMain .centerTop .buttonSection {
    gap: 10px;
  }
}

.analyticsMain {
  margin: 20px;
}

.content-wrapper {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  justify-content: space-between;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 0.1875rem 0.75rem 0 rgba(47, 43, 61, 0.14);
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.card .card-header {
  border-bottom: 0;
  background-color: unset;
  color: #6d6b77 !important;
  padding: 20px;
}
.card .card-header.headerSimilar {
  padding: 15px !important;
}
.card .card-header .card-count {
  color: var(--c-black);
  font-weight: 700;
}
.card .card-header .card-title {
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 500;
  color: grey;
}
.card .card-header .text-success {
  color: #49b97f !important;
}
.card .card-header .text-body {
  font-size: 15px;
  line-height: 34px;
}
.card .card-header .card-subtitle {
  color: #8d8a94 !important;
  font-size: 15px !important;
}
.card .titleSimilar h5 {
  font-size: 18px !important;
  color: #474242;
}
.card.cardChilds .card-header, .card.cardChilds .card-body {
  padding: 10px 15px;
}
.card.cardChilds .card-header .card-title, .card.cardChilds .card-body .card-title {
  color: var(--c-black);
}
.card.cardChilds .card-header .card-title h6, .card.cardChilds .card-body .card-title h6 {
  font-weight: 600 !important;
}
.card.cardChilds .card-header .card-subtitle, .card.cardChilds .card-body .card-subtitle {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}
.card .departmentsMain .department {
  color: var(--c-black);
  font-weight: 500;
}
.card .dropdown {
  display: flex;
  justify-content: end;
}
.card .dropdown button {
  height: fit-content !important;
}
.card .dropdown svg {
  transform: rotate(90deg);
}

.totalBlock {
  font-weight: 500;
}
.totalBlock .totalText {
  font-size: 16px;
  color: grey;
}
.totalBlock .openLink {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 5px;
  color: #0d6efd !important;
}

.row > * {
  margin-top: 24px !important;
}

/*# sourceMappingURL=style.css.map */
